div{
    box-sizing: border-box;
    background-color: #888;
}
@media (min-width: 480px) and (max-width: 960px) {
    #box-a{
        height: 75px;
        width: 100%;
        float: left;
        border: 1px solid black;
    }
}
@media (min-width: 480px){
    #box-b{
        height:150px;
        width: 100%;
        border: 1px solid black;
        clear: left;
    }
    #box-c{
        height: 125px;
        width: 100%;
        border: 1px solid black;
        float: left;
    }
    #box-d{
        height: 125px;
        width: 100%;
        border: 1px solid black;
        float: right;
    }
    #box-e{
        height: 250px;
        width: 240px;
        float: left;
        border: 1px solid black;
    }
    #box-f{
        height: 250px;
        width: 240px;
        float: left;
        border: 1px solid black;
    }
    #box-g{
        height: 250px;
        width: 240px;
        float: left;
        border: 1px solid black;
    }
    #box-h{
        height: 250px;
        width: 240px;
        float: left;
        border: 1px solid black;
    }
    #box-i{
        height: 80px;
        width: 480px;
        float: right;
        border: 1px solid black;
    }
    @media (){}
}